* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  background: grey;
}

.App {
  width: 800px;
}

h1 {
  text-align: center;
  color: gold;
}

.post-enter {
  opacity: 0;
}

/*.post-enter {*/
/*  transform: translateX(750px);*/
/*}*/

.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/*.post-enter-active {*/
/*  transform: translateX(0px);*/
/*  transition: all 500ms ease-in;*/
/*}*/

.post-exit {
  opacity: 1;
}
/*.post-exit-active {*/
/*    opacity: 0;*/
/*    transition: opacity 500ms ease-in;*/
/*}*/

.post-exit-active {
  transform: translateX(-750px);
  transition: all 500ms ease-in;
}
